/* Start style Variables */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');



:root {
    /* Colors */
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    
    
    /* typography */
    --body-Font-size: 13px;
    --regular-weight: 500;
    --bold-weight: 700;
}


/* End style Variables */


/* Start resit Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


/* End resit Default */


/* Start Wrap */
.wrap {
    background-color: var(--Light-Grayish-Blue);
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


/* End Wrap */


/* Start Container */


.wrap .container {
    max-width: 731px;
    min-height: 280px;
    border-radius: 8px;
    
    display: flex;
    flex-direction: row;
    gap: 40px;
    
    background-color: #ffffff;
    box-shadow: 6px 6px 64px 0px rgba(158, 175, 194, 0.25);

    margin: 0 20px;
}

@media (max-width: 860px) {
    .wrap .container {
        position: relative;
        flex-wrap: wrap;
        gap: 0;
        max-width: 327px;
    }
}


/* Start left */

.container .left {
    width: 286px;
    min-height: 279px;
}
.container .left .card_img {
    height: 100%;
    object-fit: cover;
    object-position: 1.378%;

    border-radius: 8px 0 0 8px;
}

@media (max-width: 860px) {
    .wrap .container .left {
        width: 327px;
        min-width: 100%;
        height: 200px;
        min-height: 0;
    }
    .wrap .container .left .card_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px 8px 0 0;
    }
}

/* End left */



/* Start right */

@media (max-width: 860px) {
    .wrap .container .right {
        padding: 36px 21px 20px 32px;
    }

    .wrap .container .right .title {
        font-size: 16px;
        line-height: 23.6px;
        letter-spacing: 0.32px;
    
        margin-bottom: 16px;
    }

    .wrap .container .right .desc {
        margin-bottom: 33px;
    }
}

.container .right {
    display: flex;
    flex-direction: column;
    padding: 34px 38px 30px 0;
}

.container .right .title {
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 20px;
    font-weight: var(--bold-weight);
    line-height: 28px;
    letter-spacing: 0.4px;

    margin-bottom: 12px;
}

.container .right .desc {
    color: var(--Desaturated-Dark-Blue);
    font-size: var(--body-Font-size);
    font-weight: var(--regular-weight);
    line-height: 20px;
    letter-spacing: 0.234px;

    margin-bottom: 21px;
}


.container .right .author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .right .author .author_desc {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.container .right .author .author_desc .author_img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.container .right .author .author_desc .author_desc-detail {
    display: flex;
    flex-direction: column;
}

.container .right .author .author_desc .author_desc-detail .author_name {
    color: var(--Very-Dark-Grayish-Blue);
    font-size: var(--body-Font-size);
    font-weight: var(--bold-weight);
    line-height: 20px;
    letter-spacing: 0.234px;
}

.container .right .author .author_desc .author_desc-detail .date {
    color: var(--Desaturated-Dark-Blue);
    font-size: var(--body-Font-size);
    font-weight: var(--regular-weight);
    line-height: 20px;
    letter-spacing: 0.234px;
}

/* share_wrap */

.container .right .author .share_wrap {
    position: relative;
}

.container .right .author .share_wrap .share {
    cursor: pointer;

    width: 35px;
    height: 35px;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}
@media (max-width: 860px) {
    .wrap .container .right .author .share_wrap:hover .share {
        position: relative;
        z-index: 10;
        margin: 15px 19px -5px 0;
    }
    .wrap .container .right .author .share_wrap:hover .share_info {
        display: none;
    }
}



/* Start Hover */

.container .right .author .share_wrap:hover .share_info {
    display: flex;
}
.container .right .author .share_wrap:hover .share {
    background-color: var(--Desaturated-Dark-Blue);
}
.container .right .author .share_wrap:hover .share img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(13%) saturate(357%) hue-rotate(86deg) brightness(104%) contrast(94%);
}

/* End Hover */

.container .right .author .share_wrap .share_info {
    display: none;
    position: absolute;
    top: -84px;
    right: -100px;

    width: 248px;
    height: 55px;

    background-color: var(--Very-Dark-Grayish-Blue);

    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 22px;

    border-radius: 8px;
}

.triangle {
    position: absolute;
    bottom: -2px;

    width: 28px;
    height: 14px;

    background-color: var(--Very-Dark-Grayish-Blue);
    transform: rotate(45deg);
    
}

.container .right .author .share_wrap .share_info .share_info-text {
    color: var(--Grayish-Blue);
    font-size: 13px;
    font-weight: var(--bold-weight);
    line-height: 20px; /* 153.846% */
    letter-spacing: 4.68px;
}

.container .right .author .share_wrap .share_info .share_info-icons {
    display: flex;
    align-items: center;
    gap: 16px;
}


/* End right */



/* Start share for mobile view port */
.share_info-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--Very-Dark-Grayish-Blue);
    /* display: flex; */
    align-items: center;
    gap: 22px;
    border-radius: 0 0 8px 8px;
    width: 327px;
    min-width: 100%;
    height: 64px;

    padding-left: 23px;
    display: none;
}
.share_info-mobile .share_info-text-mobile {
    color: var(--Grayish-Blue);
    font-size: 13px;
    font-weight: var(--bold-weight);
    line-height: 20px;
    letter-spacing: 4.68px;
}
.share_info-mobile .share_info-icons-mobile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.flex {
    display: flex;
}


/* End share for mobile view port */


/* End Container */
